/* better-bitbucket CSS */

#pull-request-header {
    position: fixed;
    width: calc(100% - 115px);
    z-index: 15;
    background: #DFE1E6;
    top: 0;
    padding: 5px;
    border-bottom: 5px solid #fff;
}
header.app-header {
    margin-top: 40px;
}
.aui-page-panel {
    max-width: 70%;
}
#changeset-diff .heading {
    position: sticky;
    top: 47px;
    z-index: 9;
}
li.detail-summary--item, #watch-pullrequest {
    position: fixed;
    top: 10px;
    z-index: 15;
    right: 450px;
}
#watch-pullrequest {
    right: 650px;
}
#commit-files-summary-sidebar {
    position: fixed;
    overflow: auto;
    right: 20px;
    margin-left: auto;
    z-index: 11;
    top: 35px;
    background: #DFE1E6;
    width: calc(30% - 70px);
    height: 100%;
}
#commit-files-summary-sidebar .count-badge {
    float: left;
    background: transparent;
}
#commit-files-summary-sidebar .commit-file-diff-stats, #commit-files-summary-sidebar .diff-summary-lozenge {
    display: none;
}
#commit-files-summary-sidebar li {
    padding-left: 0;
}
#commit-files-summary-sidebar {
    padding-left: 35px;
}
#commit-files-summary-sidebar .count-badge {
    margin-right: -40px;
    margin-left: -30px;
}
#commit-files-summary-sidebar .file-in-view {
    background-color: #fefefe;
}
